<% for(var i = 0; i < users.length; i++) { %>

<tr>
  <td></td>
  <td><%= users[i].name %></td>
  <td><%= users[i].email %></td>
  <td><%= users[i].gender %></td>
  <td><%= users[i].status %></td>
  <td>
    <a
      href="/update_user?id=<%=users[i]._id%>"
      class="btn boarder-shadow update"
    >
      <span class="text-gradient"> Edit </span>
    </a>
    <a class="btn boarder-shadow delete" data-id=<%=users[i]._id%>>
      <span class="text-gradient"> delete </span>
    </a>
  </td>
</tr>

<% } %>
